body {
    max-width: 760px;
    background: grey;
}

.row, .col {
    margin: 0;
    padding: 0;
}

/*.row .col {
    padding: 0;
}*/

.logo-cover {
    margin: 0 auto;
    position: absolute;
    top: 40%;
    bottom: 0;
    left: 0;
    right: 0;
}

.logo {
    font-size: 48px;
    z-index: 100;
}

.mobile {
    background-color: aliceblue;
    max-width: 720px;
    width: 100%;
    padding: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: -1;
}

    /*float bar*/

    .mobile > .home .floatbar {
        width: 100%;
        position: absolute;
        bottom: 0;
    }

    /*home*/

    .mobile > .home {
        background-color: aliceblue;
        max-width: 720px;
        width: 100%;
        padding: 0;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        /*display: none;*/
    }

    .mobile > .menu {
        display: none;
        background-color: yellow;
        max-width: 720px;
        width: 100%;
        padding: 0;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

.menu-area .count-oprate {
    width: 100%;
    height: 35%;
    float: left;
    margin-top: 50%;
    background-color: blue;
}

.menu-area .slideshow {
    /*margin: 0 auto;*/
    width: 75%;
    height: 100%;
    /*float: left;*/
    margin-left: 12.5%;
    background-color: red;
}

.mobile .col.detail {
    padding: 0;
}

.mobile .detail {
    width: 75%;
    height: 90%;
    background-color: purple;
    z-index: 200;
    position: absolute;
    bottom: 0;
    display: none;
}

.closeDetailBtnRow {
    position: relative;
    top: 92%;
}

/*Slid Show*/
.slidewapper {
    height: 75%;
    margin-top: 25%;
}

    .slidewapper ul {
        margin: 0 auto;
        max-width: 75%;
        height: 100%;
        overflow-x: scroll;
    }

li.slideItem {
    width: 100%;
    height: 200px;
    background-size:100% 200px;
}

.slideItem .btn {
    width: 54px;
    height: 200px;
}

.slideItem a.btn {
    padding-top: 80px;
    font-size: 32px;
    padding-left: 0;
    padding-right: 0;
}

.slideItem .slidLeftBtn {
    position: relative;
    float: left;
}

.slideItem .slidRightBtn {
    position: relative;
    float: right;
    right: 0;
}