<div class="row mobile had-container">

    <div class="col s12 home">

        <div class="row logo-cover">
            <div class="logo center">Logo</div>
        </div>
        <div class="row floatbar">
            <a value="Home" heef="" class="col s4 btn waves-effect waves-light btn-large orange darken-3">A </a>
            <a value="Menu" herf="" class="col s4 btn waves-effect waves-light btn-large orange darken-3">B </a>
            <a value="Detail" herf="" class="col s4 btn waves-effect waves-light btn-large orange darken-3">C </a>
        </div>
    </div>

    <div class="col s12 menu">

        <div class="row top">
            <a value="Home" heef="" class="col s4 btn waves-effect waves-light btn-large orange darken-3">A </a>
            <a value="Menu" herf="" class="col s4 btn waves-effect waves-light btn-large orange darken-3">B </a>
            <a value="Detail" herf="" class="col s4 btn waves-effect waves-light btn-large orange darken-3">C </a>
        </div>

        <div class="row menu-area">




        </div>

        <div class="row bottom">
            <a value="Home" heef="" class="col s4 btn waves-effect waves-light btn-large orange darken-3">A </a>
            <a value="Menu" herf="" class="col s4 btn waves-effect waves-light btn-large orange darken-3">B </a>
            <a value="Detail" herf="" class="col s4 btn waves-effect waves-light btn-large orange darken-3">C </a>
        </div>
    </div>

    <div class="col s12 detail">
        <div class="row">
        </div>
    </div>
</div>

@section scripts{
    <script src="/Scripts/require.js" data-main="/Scripts/dist/app.js"></script>
}